button.btn, input.btn{
    background-color: #0540de!important;
    color: white!important;
}
i.material-icons{
  color:  #0540de!important;
}
a.centerItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.storing {
    color: #f00;
}
.text-sm.text-gray-700.leading-5{
    margin-top: 15px;
}
.w-5{
    display: none;
}
.container-lg {
    position: relative;
    min-height: 79vh;
}
span.mb-4 nav{
    margin-bottom: 100px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}
