button.btn, input.btn{
    background-color: #0540de!important;
    color: white!important;
}
i.material-icons{
  color:  #0540de!important;
}

.storing {
    color: #f00;
}
.text-sm.text-gray-700.leading-5{
    margin-top: 15px;
}
.w-5{
    display: none;
}
